/* SCROLLBAR STYLING */
html::-webkit-scrollbar {
	width: 0.4rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: var(--grey);
	border-radius: 5rem;
}

/* html {
	overflow-y: scroll;
	scrollbar-width: 0.4rem;
	scrollbar-color: var(--grey);
} */

/* MEDIA QUERIES */
@media (max-width: 1399px) {
	nav .content .link {
		transform: translateX(-3rem) translateY(0.37rem);
	}
}

@media (max-width: 1199px) {
	nav .content .link {
		transform: translateX(-1.5rem) translateY(0.37rem);
	}

	.coming-soon-sect .newprogs .box:last-of-type,
	.coming-soon-sect.main .box {
		height: 27.65rem;
		background: var(--yellow-orange);
		color: var(--black);
		font-size: 1.5rem;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 75%;
	}

	nav .link {
		display: none;
	}

	nav .content .my-hamburger {
		display: block;
	}

	nav .logo {
		transform: translatex(4rem);
	}
}

@media (max-width: 767px) {
	p,
	a,
	button,
	.about-box p,
	.about-box p.subheading,
	.about-box span.subheading,
	.about-box ul li {
		font-size: 1.37rem !important;
	}

	.shownav ul li a {
		font-size: 1.7rem !important;
	}

	.csdy .about .heading,
	p.heading {
		font-size: 1.52rem !important;
	}

	.box,
	.about-sect .boxs {
		width: 100% !important;
	}

	.feat-csdy .container,
	.coming-soon-sect .newprogs,
	.about-sect .container {
		flex-direction: column;
	}

	.feat-csdy {
		margin-top: 1rem;
	}

	.feat-csdy .box:first-of-type p span {
		display: unset;
	}

	.feat-csdy .box:first-of-type p span:first-of-type {
		margin-right: 1rem;
	}

	.feat-csdy .box:first-of-type p span {
		font-size: 2.5rem !important;
	}

	.feat-csdy .box:not(box:first-of-type) {
		margin-top: 1.5rem;
	}

	.coming-soon-sect {
		margin-top: unset;
	}

	.coming-soon-sect .box:not(box:first-of-type) {
		margin-top: 5rem;
	}

	/* CASE STUDIES STYLES */
	.user-research {
		flex-direction: column;
	}

	.csdy .about .user-research div {
		width: 100% !important;
	}

	.csdy .about .user-research div:not(div:first-of-type) {
		margin-top: 2rem;
	}

	/* ABOUT SECTION STYLES */
	.about-sect .boxs:last-of-type {
		margin-top: 1.5rem;
	}

	.mallonproj .ticketing-div,
	.mallonproj .core-val,
	.mallonproj .uncleardesigns {
		flex-wrap: wrap;
	}

	.mallonproj .ticketing-div div,
	.mallonproj .core-val div,
	.mallonproj .uncleardesigns div {
		width: 100%;
	}

	.mallonproj .core-val div:first-of-type,
	.mallonproj .ticketing-div div:first-of-type {
		margin-top: unset !important;
	}

	.mallonproj .core-val div:not(div:first-of-type),
	.mallonproj .uncleardesigns div:not(div:first-of-type),
	.mallonproj .ticketing-div,
	.mallonproj .ticketing-div div:not(div:first-of-type) {
		margin-top: 3rem;
	}

	.mallonproj .stat-div span:first-of-type {
		width: 10.5%;
		transform: translateY(0.1rem);
	}

	.mallonproj .stat-div span:last-of-type img {
		width: 100%;
	}

	.mallonproj .mendy-str img {
		width: 70%;
	}
	.mallonproj .stat-div1 img {
		width: 80%;
	}

	.mallonproj .user-story p::before {
		top: 0.45rem;
	}

	.mallonproj .core-val div ul li::before {
		top: 0.85rem;
	}
}

@media (max-width: 442px) {
	html {
		font-size: 61%;
	}

	.container {
		padding-right: 1.5rem !important;
		padding-left: 1.5rem !important;
	}

	nav .social-links {
		right: 1.4rem;
	}

	.mallonproj .diff-div .container {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}

	.mallonproj .core-val div ul li::before {
		width: 8.5px;
		height: 8.5px;
		top: 0.75rem;
	}

	.mallonproj .user-story p::before {
		top: 0.49rem;
	}
}

@media (max-width: 329px) {
	html {
		font-size: 50%;
	}

	.mallonproj .core-val div ul li::before {
		width: 7px;
		height: 7px;
	}
}

@media (max-width: 280px) {
	html {
		font-size: 40%;
	}
}
