@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
}

p {
	margin: 0;
}

/* COLORS */
:root {
	--black: #1a1a1a;
	--orange: #ffad33;
	--yellow-orange: #ffd699;
	--yellow-orange-border: #ff9800;
	--grey: #808080;
	--white: #ffffff;
}

.m-l {
	margin-left: 1rem;
}

.align-item-center {
	align-items: center;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.box {
	width: 49%;
	border-radius: 1.2rem;
}

.b-shadow {
	/* box-shadow: 0 4px 4px 0 rgba(194, 186, 186, 0.2),
		0 10px 20px 0 rgba(194, 186, 186, 0.2); */

	box-shadow: 0px 3px 4px rgba(218, 218, 218, 0.5);
}

/* NAVIGATION BAR */
nav {
	background: var(--white);
}

nav .content {
	padding-top: 2rem;
	padding-bottom: 1rem;
	width: 65%;
}

nav .logo {
	width: 10rem;
}

nav .link {
	transform: translateX(-5rem) translateY(0.37rem);
}

nav .link ul li a {
	display: block;
	color: var(--black);
	font-size: 1.2rem;
	font-weight: 500;
}

nav .social-links {
	right: 0.7rem;
}

nav .social-links a {
	width: 2.5rem;
	/* transform: translateY(-0.5rem); */
}

nav .social-links a:first-of-type {
	width: 2.9rem;
	transform: translateY(-0.2rem);
}

nav .content .my-hamburger {
	display: none;
	/* transform: translatey(.8rem); */
	margin-top: 0.8rem;
	cursor: pointer;
}

nav .content .my-hamburger,
nav .content .my-hamburger::before,
nav .content .my-hamburger::after {
	width: 2.4rem;
	height: 0.33rem;
	background: var(--black);

	/* transition: transform 280ms ease-in-out, opacity 180ms; */
}

nav .content .my-hamburger::before,
nav .content .my-hamburger::after {
	content: '';
	position: absolute;
	left: 0;
}

nav .content .my-hamburger::before {
	bottom: 0.65rem;
}

nav .content .my-hamburger::after {
	top: 0.65rem;
}

.shownav {
	display: none;
	background: var(--white);
	width: 100%;
	height: 100%;
	z-index: 100000;
}

.shownav.show {
	display: block;
	padding-top: 3rem;
}

.shownav.show .container div:first-of-type {
	margin-bottom: 5rem;
}

.shownav ul li a {
	font-size: 1.7rem;
	font-weight: 600;
	line-height: 3;
	color: var(--black);
}

.shownav .close-hamburger,
.shownav .close-hamburger::after {
	width: 2.7rem;
	height: 0.33rem;
	background: var(--grey);
}

.shownav .close-hamburger {
	transform: rotateZ(45deg);
	cursor: pointer;
}

.shownav .close-hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	transform: rotateZ(90deg);
}

/* WELCOME SECTION */
.wel-sect {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	padding-top: 2rem;
}

.wel-sect .welcome-box {
	height: 25rem;
	background: url(assets/giphy.webp);
	background-size: cover;
	background-position: center;
	border-radius: 1.2rem;
	margin-top: 2rem;
	padding-top: 2rem;
}

.wel-sect .welcome-box p:first-of-type {
	color: var(--orange);
}

.wel-sect .welcome-box p:last-of-type {
	color: var(--white);
	margin-top: 2rem;
	font-size: 2rem;
}

/* FEATURED CASE STUDIES */
.feat-csdy {
	margin-top: 5rem;
	padding-top: 3rem;
	color: var(--black);
}

.feat-csdy .box:first-of-type p {
	font-weight: 600;
}

.feat-csdy .box:first-of-type p span {
	display: block;
}

.feat-csdy .box:first-of-type p span:first-of-type {
	font-size: 3rem;
}

.feat-csdy .box:first-of-type p span:last-of-type {
	font-size: 3.5rem;
}

.feat-csdy .box:last-of-type div:last-of-type,
.newprogs .box:last-of-type div:last-of-type {
	padding: 1rem 1.5rem 1.5rem;
	border-radius: 1.2rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px 3px 4px rgba(218, 218, 218, 0.5);
}

.feat-csdy .box:last-of-type div:last-of-type p,
.newprogs .box:last-of-type div:last-of-type p {
	font-weight: 500;
	line-height: 1.5;
}

.feat-csdy .box:last-of-type div:last-of-type button,
.newprogs .box:last-of-type div:last-of-type button {
	font-weight: 600;
	font-size: 1rem;
	border: 1px solid var(--orange);
	border-radius: 3rem;
	color: var(--orange);
	background: var(--yellow-orange);
	padding: 0.8rem 2rem;
	margin-top: 1.5rem;
	cursor: pointer;
}

/* COMING SOON SECTION */
.coming-soon-sect {
	margin-top: 4rem;
}

.coming-soon-sect .box,
.coming-soon-sect .newprogs .box {
	height: 25rem;
	background: var(--yellow-orange);
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* FOOTER SECTION */
footer {
	border-top: 1px solid #f2f2f2;
	margin-top: 5rem;
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-align: center;
	color: var(--grey);
}

footer .social-links a {
	display: block;
	width: 2.5rem;
}
footer .social-links a:first-of-type {
	width: 2.3982rem;
	transform: translateY(0.06rem);
}

footer .social-links a:nth-of-type(2) {
	width: 2.88rem;
	transform: translateY(-0.2rem);
}

footer .m-l {
	margin-left: 0.5rem;
}

footer p {
	margin-top: 0.5rem;
}

footer p span {
	color: var(--black) !important;
	font-size: 0.7rem;
}
